*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-btn{
    width: 200px;
    height: 50px;
    font-weight: 700;
    background-color: #20ab43;
    border: none;
}

.open-btn:hover{
    cursor: pointer;
    opacity: 0.8;
}


.modal__overlay{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: none;
}

.modal__overlay.open{
    display: block;
}

.modal__container{
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    /* animation: fadeIn linear 0.1s; */

    /* background-color: #fff;
    margin:  auto;
    position: relative;
    z-index: 1;
    height: 300px;
    width: 300px;
    border-radius: 4px; */
}


.login{
    background-color: #fff;
    margin:  auto;
    position: relative;
    z-index: 1;
    height: 350px;
    width: 350px;
    border-radius: 4px; 
    
}

.login__close{
    position: absolute;
    top:0;
    right:0;
    padding: 14px;
    font-size: 18px;
    color: #ccc;
}

.login__close:hover{
    color: red;
    cursor: pointer;
}
.login__header{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px ;
}

.login__form{
    margin: 0 25px 15px;
}

/* .login__form-btn,
.login__input-field{
    line-height: 30px;
    margin: 5px 0;
} */

.login__group{
    display: inline-block;
    color: #ccc;
}
.login__form-btn{
    font-size: 17px;
    width: 100%;
    display: block;
    height: 44px;
    background-color: #00ce81;
    color: white;
    border-style: none;
    border-radius: 2px;
}

.login__form-btn:hover{
    background-color: #00ce81;
    opacity: 0.7;
    cursor: pointer;
}

.login__form-btn--loading{

}

.login__input i{
    position: absolute;
}
.login__input{
    width: 100%;
    margin-bottom: 15px;
    display: inline-block;
    border-radius: 2px;
    /* text-align: center; */
}

.login__input-icons{
    font-size: 18px;
    padding: 12px;

}

.login__input-field{
    font-size: 17px;
    width: 100%;
    padding: 10px 35px;
    /* text-align: center; */
    border-style: none;
    border: 2px solid #ccc;
    border-radius: 2px;
    
}

.login__footer{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    border-top: 2px solid rgb(232, 233, 234);
    background-color: #eef3f4;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

}

.login__footer-link{
    font-size: 17px;
    padding: 14px 32px;
    text-decoration: none;
    color: #979393;
}


/*id - JS*/
#errorUser,
#errorPass,
#errorOldPass,
#errorNewPass{
    color: red;
    font-size: 12px;
    font-weight: bold;
}

#success{
    color: green;
    font-size: 14px;
    font-weight: bold;
}