*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: #f6f6f6;

}

.container{
    color: #686767;
    display: block;
    padding: 80px ;
}

.header{
    font-size: 24px;
    text-align: center;
    position: relative;
    margin-bottom: 80px;
}

.header-title{
    margin-bottom: 14px;

}
.header-underline{
    position: absolute;
    background-color:#5d9cfb ;
    height: 2px;
    width: 55px;
    top:calc(100% + 14px);
    left: 50%;
    transform: translate(-50%,-50%);
}

.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* width: 900px; */
}

.content__item{
    display: flex;
    /* height:; */
    width: 370px;
    margin: 30px;
}


.content__item-label-detail{
    background-color: #93dea4;
    border-radius: 50px;
    width: 67px;
    height: 67px;
    position: relative;
}
.content__item-label--text{
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}

.content__item-group{
    display: block;
    margin-left: 14px;
}

.content__item-group--text{
    font-style: italic;
    margin-bottom: 14px;
}
