*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: block;
    position: relative;
    background-color: #f2f2f2;
    height: 400px;
    margin: 0 auto;
    text-align: center;

}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.content__icon{
    font-size: 30px;
    color:#70cbce;
    margin-bottom: 24px;
}

.content__title{
    font-size: 32px;
    margin-bottom:24px ;
}

.content__title--description{
    color: #817d7d;
    margin-bottom:24px ;
}

.content__form{
    display: -ms-inline-grid;

}

.content__input{
    /* line-height: 32px; */
    border: none;
    border-radius: 4px;
    margin-bottom:24px ;
    padding-left: 10px;
    width: 250px;
    height: 40px;

}

.content__btn{
    font-weight: bold;
    color: #fff;
    background-color: #4ba7ab;
    /* line-height: 32px; */
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    width: 150px;
    height: 40px;
    display: block;  
}


.content__btn:hover{
    cursor: pointer;
    background-color: #70cbce;
}